aiohttp==3.13.1
backports.tarfile==1.2.0
datasets==4.2.0
gensim==4.4.0
importlib-metadata==8.0.0
ipykernel==7.0.1
jaraco.collections==5.1.0
nltk==3.9.2
optuna==4.5.0
pip-chill==1.0.3
scikit-learn==1.7.2
tomli==2.0.1
