numpy==2.3.4
pandas==2.3.3
scipy==1.16.2

scikit-learn==1.7.2
gensim==4.4.0
nltk==3.9.2
umap-learn==0.5.9.post2
inflect  

matplotlib==3.10.7
seaborn==0.13.2

tqdm==4.67.1
session-info==1.0.1

pyarrow==21.0.0
pynndescent==0.5.13
regex==2025.10.23
requests==2.32.5
PyYAML==6.0.3
